# ===== PRODUCTION (Vercel) =====
DATABASE_URL=postgresql://neondb_owner:npg_hJypGvwT1n9L@ep-steep-fog-aytuqtgb-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=fnjwehfiwhfi@%^&@jwfiwi45564@@
ENVIRONMENT=production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
FRONTEND_URL=https://smart-financial-portfolio-tracker.vercel.app
API_URL=https://smart-financial-portfolio-tracker-c.vercel.app

# ===== DEVELOPMENT (Local) =====
# DATABASE_URL=sqlite:///./test.db
# SECRET_KEY=dev-secret-key
# ENVIRONMENT=development
# ALGORITHM=HS256
# ACCESS_TOKEN_EXPIRE_MINUTES=30
# REFRESH_TOKEN_EXPIRE_DAYS=7
# FRONTEND_URL=http://localhost:5173
# API_URL=http://localhost:8000
